##Inventory Management System

In [1]:
print('Welcome to Inventory Management System')
print('Adding an item to the inventory!!')

Welcome to Inventory Management System
Adding an item to the inventory!!

##Adding an item to the Inventory

In [2]:
#Loading the Record.json file

import json
fd=open('record.json','r')
r=fd.read()
fd.close()

In [3]:
records=json.loads(r)
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Biscuit', 'pr': 100, 'qn': 50},
 '1011': {'name': 'Laptop', 'pr': 2000, 'qn': 100},
 '1012': {'name': 'Mouse', 'pr': 750, 'qn': 150},
 '1013': {'name': 'Pencil', 'pr': 10, 'qn': 50},
 '1014': {'name': 'Tomato Ketchup', 'pr': 250, 'qn': 50},
 '1015': {'name': 'Water Bottle', 'pr': 560, 'qn': 100},
 '1016': {'name': 'Pasta', 'pr': 60, 'qn': 200},
 '1017': {'name': 'Cheese', 'pr': 40, 'qn': 50},
 '1018': {'name': 'Jam', 'pr': 57, 'qn': 100},
 '1019': {'name': 'Butter', 'pr': 192, 'qn': 50},
 '1020': {'name': 'Nacho Chips', 'pr': 70, 'qn': 350},
 '1021': {'name': 'Potato Chips', 'pr': 5, 'qn': 50},
 '1022': {'name': 'Chocolate Syrup', 'pr': 50, 'qn': 100},
 '1023': {'name': 'Mayonnaise ', 'pr': 30, 'qn': 50},
 '1024': {'name': 'Bread', 'pr': 25, 'qn': 200},
 '1025': {'name': 'Marker', 'pr': 15, 'qn': 200},
 '1026': {'name': 'Book', 'pr': 70, 'qn': 250},
 '1027': {'name': 'Lunch Box', 'pr': 25, 'qn': 50},
 '1028': {'name': 'Charger', 'pr': 35, 'qn': 100},
 '1029': {'name': 'Head Phone', 'pr': 100, 'qn': 150},
 '1030': {'name': 'Paper Bunch', 'pr': 75, 'qn': 500},
 '1031': {'name': 'Camera', 'pr': 1500, 'qn': 50},
 '1032': {'name': 'Shoes', 'pr': 150, 'qn': 200},
 '1033': {'name': 'Sandals', 'pr': 250, 'qn': 150},
 '1034': {'name': 'T-Shirt', 'pr': 100, 'qn': 100},
 '1035': {'name': 'Jeans', 'pr': 2000, 'qn': 250}}

In [8]:
import time
import random


print('Add an item to the inventory!')
add_item=int(input('Enter the number of items you want to add in the inventory:'))
for i in range(1,add_item+1):
  prod_id=str(input('Enter the product id:'))
      

  if (prod_id in records.keys()):
    print(records[prod_id])
    prod_qn=int(input('Enter the quantity:'))
    records[prod_id]['qn']=records[prod_id]['qn']+prod_qn
      
  else:
    name=str(input('Enter the product name:'))
    qn=int(input('Enter the quantity:'))
    pr=int(input('Enter the price:'))
    records[prod_id]={'name':name,'qn':qn,'pr':pr}

  #Updating the inventory after adding items
  js=json.dumps(records)
  fd=open('record.json','w')
  fd.write(js)
  fd.close()

Add an item to the inventory!
Enter the number of items you want to add in the inventory:1
Enter the product id:1007
{'name': 'Mic', 'qn': 50, 'pr': 1500}
Enter the quantity:250

In [9]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 300},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Biscuit', 'pr': 100, 'qn': 50},
 '1011': {'name': 'Laptop', 'pr': 2000, 'qn': 100},
 '1012': {'name': 'Mouse', 'pr': 750, 'qn': 150},
 '1013': {'name': 'Pencil', 'pr': 10, 'qn': 50},
 '1014': {'name': 'Tomato Ketchup', 'pr': 250, 'qn': 50},
 '1015': {'name': 'Water Bottle', 'pr': 560, 'qn': 100},
 '1016': {'name': 'Pasta', 'pr': 60, 'qn': 200},
 '1017': {'name': 'Cheese', 'pr': 40, 'qn': 50},
 '1018': {'name': 'Jam', 'pr': 57, 'qn': 100},
 '1019': {'name': 'Butter', 'pr': 192, 'qn': 50},
 '1020': {'name': 'Nacho Chips', 'pr': 70, 'qn': 350},
 '1021': {'name': 'Potato Chips', 'pr': 5, 'qn': 50},
 '1022': {'name': 'Chocolate Syrup', 'pr': 50, 'qn': 100},
 '1023': {'name': 'Mayonnaise ', 'pr': 30, 'qn': 50},
 '1024': {'name': 'Bread', 'pr': 25, 'qn': 200},
 '1025': {'name': 'Marker', 'pr': 15, 'qn': 200},
 '1026': {'name': 'Book', 'pr': 70, 'qn': 250},
 '1027': {'name': 'Lunch Box', 'pr': 25, 'qn': 50},
 '1028': {'name': 'Charger', 'pr': 35, 'qn': 100},
 '1029': {'name': 'Head Phone', 'pr': 100, 'qn': 150},
 '1030': {'name': 'Paper Bunch', 'pr': 75, 'qn': 500},
 '1031': {'name': 'Camera', 'pr': 1500, 'qn': 50},
 '1032': {'name': 'Shoes', 'pr': 150, 'qn': 200},
 '1033': {'name': 'Sandals', 'pr': 250, 'qn': 150},
 '1034': {'name': 'T-Shirt', 'pr': 100, 'qn': 100},
 '1035': {'name': 'Jeans', 'pr': 2000, 'qn': 250},
 '1036': {'name': 'Cheese Cake', 'pr': 100, 'qn': 50}}