##Purchasing Items from the inventory

In [ ]:
import json

fd=open('record.json','r')
r=fd.read()
fd.close()
records=json.loads(r)

In [ ]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Biscuit', 'pr': 100, 'qn': 50},
 '1011': {'name': 'Laptop', 'pr': 2000, 'qn': 100},
 '1012': {'name': 'Mouse', 'pr': 750, 'qn': 150},
 '1013': {'name': 'Pencil', 'pr': 10, 'qn': 50},
 '1014': {'name': 'Tomato Ketchup', 'pr': 250, 'qn': 50},
 '1015': {'name': 'Water Bottle', 'pr': 560, 'qn': 100},
 '1016': {'name': 'Pasta', 'pr': 60, 'qn': 200},
 '1017': {'name': 'Cheese', 'pr': 40, 'qn': 50},
 '1018': {'name': 'Jam', 'pr': 57, 'qn': 100},
 '1019': {'name': 'Butter', 'pr': 192, 'qn': 50},
 '1020': {'name': 'Nacho Chips', 'pr': 70, 'qn': 350},
 '1021': {'name': 'Potato Chips', 'pr': 5, 'qn': 50},
 '1022': {'name': 'Chocolate Syrup', 'pr': 50, 'qn': 100},
 '1023': {'name': 'Mayonnaise ', 'pr': 30, 'qn': 50},
 '1024': {'name': 'Bread', 'pr': 25, 'qn': 200},
 '1025': {'name': 'Marker', 'pr': 15, 'qn': 200},
 '1026': {'name': 'Book', 'pr': 70, 'qn': 250},
 '1027': {'name': 'Lunch Box', 'pr': 25, 'qn': 50},
 '1028': {'name': 'Charger', 'pr': 35, 'qn': 100},
 '1029': {'name': 'Head Phone', 'pr': 100, 'qn': 150},
 '1030': {'name': 'Paper Bunch', 'pr': 75, 'qn': 500},
 '1031': {'name': 'Camera', 'pr': 1500, 'qn': 50},
 '1032': {'name': 'Shoes', 'pr': 150, 'qn': 200},
 '1033': {'name': 'Sandals', 'pr': 250, 'qn': 150},
 '1034': {'name': 'T-Shirt', 'pr': 100, 'qn': 100},
 '1035': {'name': 'Jeans', 'pr': 2000, 'qn': 250}}

In [ ]:
import time
import random

print('Purchasing an item from the inventory!') 
print('What do you want to buy?')
print(records)
sales={}
n=int(input('How many items you want to buy?'))
for i in range(1,n+1):

  pur_prod_id=str(input('Enter the product id:'))
  pur_qn=int(input('Enter the quantity:'))
  if (pur_qn > records[pur_prod_id]['qn']):
    print('Sorry not enough stock!!')
    exit(0)
  else: 
    records[pur_prod_id]['qn']= records[pur_prod_id]['qn']-pur_qn
          
    print('---Generating Bill---')
    tm=time.ctime()
    trans_id=random.randint(100,200)
    print('Product:',records[pur_prod_id]['name'])
    print('Product ID:',pur_prod_id)
    print('Price:',records[pur_prod_id]['pr'])
    print('Quantity:',pur_qn)
    print('Date and Time:',tm)
    print('Transaction ID:',trans_id)
    print('Grand Total:',records[pur_prod_id]['pr']*pur_qn)
    sales[i]={'Product ID':pur_prod_id,'Product':records[pur_prod_id]['name'],'Quantity':pur_qn,'Amount':records[pur_prod_id]['pr']*pur_qn,
              'Transaction ID':trans_id,'Price':records[pur_prod_id]['pr']}
  
  #Updating the inventory after adding items
  js=json.dumps(records)
  fd=open('record.json','w')
  fd.write(js)
  fd.close()

Purchasing an item from the inventory!
What do you want to buy?
{'1001': {'name': 'Choco Cake', 'qn': 34, 'pr': 100}, '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100}, '1003': {'name': 'Drink', 'pr': 85, 'qn': 100}, '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000}, '1005': {'name': 'Pen', 'pr': 20, 'qn': 100}, '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10}, '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0}, '1008': {'name': 'Case', 'pr': 599, 'qn': 5}, '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}, '1010': {'name': 'Biscuit', 'qn': 50, 'pr': 100}, '1011': {'name': 'Laptop', 'qn': 100, 'pr': 2000}, '1012': {'name': 'Mouse', 'qn': 150, 'pr': 750}, '1013': {'name': 'Pencil', 'qn': 50, 'pr': 10}, '1015': {'name': 'Water Bottle', 'qn': 100, 'pr': 560}, '1014': {'name': 'Tomato Ketchup', 'qn': 50, 'pr': 250}, '1016': {'name': 'Pasta', 'qn': 200, 'pr': 60}, '1017': {'name': 'Cheese', 'qn': 50, 'pr': 40}, '1018': {'name': 'Jam', 'qn': 100, 'pr': 57}, '1019': {'name': 'Butter', 'qn': 50, 'pr': 192}, '1020': {'name': 'Nacho Chips', 'qn': 350, 'pr': 70}, '1021': {'name': 'Potato Chips', 'qn': 50, 'pr': 5}, '1022': {'name': 'Chocolate Syrup', 'qn': 100, 'pr': 50}, '1023': {'name': 'Mayonnaise ', 'qn': 50, 'pr': 30}, '1024': {'name': 'Bread', 'qn': 200, 'pr': 25}, '1025': {'name': 'Marker', 'qn': 200, 'pr': 15}, '1026': {'name': 'Book', 'qn': 250, 'pr': 70}, '1027': {'name': 'Lunch Box', 'qn': 50, 'pr': 25}, '1028': {'name': 'Charger', 'qn': 100, 'pr': 35}, '1029': {'name': 'Head Phone', 'qn': 150, 'pr': 100}, '1030': {'name': 'Paper Bunch', 'qn': 500, 'pr': 75}, '1031': {'name': 'Camera', 'qn': 50, 'pr': 1500}, '1032': {'name': 'Shoes', 'qn': 200, 'pr': 150}, '1033': {'name': 'Sandals', 'qn': 150, 'pr': 250}, '1034': {'name': 'T-Shirt', 'qn': 100, 'pr': 100}, '1035': {'name': 'Jeans', 'qn': 250, 'pr': 2000}}
How many items you want to buy?10
Enter the product id:1001
Enter the quantity:10
---Generating Bill---
Product: Choco Cake
Product ID: 1001
Price: 100
Quantity: 10
Date and Time: Sat Sep  4 07:02:05 2021
Transaction ID: 143
Grand Total: 1000
Enter the product id:1002
Enter the quantity:5
---Generating Bill---
Product: Milk Cake
Product ID: 1002
Price: 800
Quantity: 5
Date and Time: Sat Sep  4 07:02:09 2021
Transaction ID: 178
Grand Total: 4000
Enter the product id:1003
Enter the quantity:5
---Generating Bill---
Product: Drink
Product ID: 1003
Price: 85
Quantity: 5
Date and Time: Sat Sep  4 07:02:14 2021
Transaction ID: 185
Grand Total: 425
Enter the product id:1004
Enter the quantity:10
---Generating Bill---
Product: Candy
Product ID: 1004
Price: 5
Quantity: 10
Date and Time: Sat Sep  4 07:02:37 2021
Transaction ID: 156
Grand Total: 50
Enter the product id:1024
Enter the quantity:5
---Generating Bill---
Product: Bread
Product ID: 1024
Price: 25
Quantity: 5
Date and Time: Sat Sep  4 07:02:50 2021
Transaction ID: 191
Grand Total: 125
Enter the product id:1031
Enter the quantity:10
---Generating Bill---
Product: Camera
Product ID: 1031
Price: 1500
Quantity: 10
Date and Time: Sat Sep  4 07:03:18 2021
Transaction ID: 134
Grand Total: 15000
Enter the product id:1032
Enter the quantity:10
---Generating Bill---
Product: Shoes
Product ID: 1032
Price: 150
Quantity: 10
Date and Time: Sat Sep  4 07:03:23 2021
Transaction ID: 154
Grand Total: 1500
Enter the product id:1033
Enter the quantity:15
---Generating Bill---
Product: Sandals
Product ID: 1033
Price: 250
Quantity: 15
Date and Time: Sat Sep  4 07:03:28 2021
Transaction ID: 181
Grand Total: 3750
Enter the product id:1034
Enter the quantity:20
---Generating Bill---
Product: T-Shirt
Product ID: 1034
Price: 100
Quantity: 20
Date and Time: Sat Sep  4 07:03:33 2021
Transaction ID: 179
Grand Total: 2000
Enter the product id:1009
Enter the quantity:5
---Generating Bill---
Product: Keyboard
Product ID: 1009
Price: 1999
Quantity: 5
Date and Time: Sat Sep  4 07:03:51 2021
Transaction ID: 181
Grand Total: 9995

In [ ]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 24},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 95},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 95},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 990},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 5},
 '1010': {'name': 'Biscuit', 'pr': 100, 'qn': 50},
 '1011': {'name': 'Laptop', 'pr': 2000, 'qn': 100},
 '1012': {'name': 'Mouse', 'pr': 750, 'qn': 150},
 '1013': {'name': 'Pencil', 'pr': 10, 'qn': 50},
 '1014': {'name': 'Tomato Ketchup', 'pr': 250, 'qn': 50},
 '1015': {'name': 'Water Bottle', 'pr': 560, 'qn': 100},
 '1016': {'name': 'Pasta', 'pr': 60, 'qn': 200},
 '1017': {'name': 'Cheese', 'pr': 40, 'qn': 50},
 '1018': {'name': 'Jam', 'pr': 57, 'qn': 100},
 '1019': {'name': 'Butter', 'pr': 192, 'qn': 50},
 '1020': {'name': 'Nacho Chips', 'pr': 70, 'qn': 350},
 '1021': {'name': 'Potato Chips', 'pr': 5, 'qn': 50},
 '1022': {'name': 'Chocolate Syrup', 'pr': 50, 'qn': 100},
 '1023': {'name': 'Mayonnaise ', 'pr': 30, 'qn': 50},
 '1024': {'name': 'Bread', 'pr': 25, 'qn': 195},
 '1025': {'name': 'Marker', 'pr': 15, 'qn': 200},
 '1026': {'name': 'Book', 'pr': 70, 'qn': 250},
 '1027': {'name': 'Lunch Box', 'pr': 25, 'qn': 50},
 '1028': {'name': 'Charger', 'pr': 35, 'qn': 100},
 '1029': {'name': 'Head Phone', 'pr': 100, 'qn': 150},
 '1030': {'name': 'Paper Bunch', 'pr': 75, 'qn': 500},
 '1031': {'name': 'Camera', 'pr': 1500, 'qn': 40},
 '1032': {'name': 'Shoes', 'pr': 150, 'qn': 190},
 '1033': {'name': 'Sandals', 'pr': 250, 'qn': 135},
 '1034': {'name': 'T-Shirt', 'pr': 100, 'qn': 80},
 '1035': {'name': 'Jeans', 'pr': 2000, 'qn': 250}}

In [ ]:
sales

{1: {'Amount': 1000,
  'Price': 100,
  'Product': 'Choco Cake',
  'Product ID': '1001',
  'Quantity': 10,
  'Transaction ID': 143},
 2: {'Amount': 4000,
  'Price': 800,
  'Product': 'Milk Cake',
  'Product ID': '1002',
  'Quantity': 5,
  'Transaction ID': 178},
 3: {'Amount': 425,
  'Price': 85,
  'Product': 'Drink',
  'Product ID': '1003',
  'Quantity': 5,
  'Transaction ID': 185},
 4: {'Amount': 50,
  'Price': 5,
  'Product': 'Candy',
  'Product ID': '1004',
  'Quantity': 10,
  'Transaction ID': 156},
 5: {'Amount': 125,
  'Price': 25,
  'Product': 'Bread',
  'Product ID': '1024',
  'Quantity': 5,
  'Transaction ID': 191},
 6: {'Amount': 15000,
  'Price': 1500,
  'Product': 'Camera',
  'Product ID': '1031',
  'Quantity': 10,
  'Transaction ID': 134},
 7: {'Amount': 1500,
  'Price': 150,
  'Product': 'Shoes',
  'Product ID': '1032',
  'Quantity': 10,
  'Transaction ID': 154},
 8: {'Amount': 3750,
  'Price': 250,
  'Product': 'Sandals',
  'Product ID': '1033',
  'Quantity': 15,
  'Transaction ID': 181},
 9: {'Amount': 2000,
  'Price': 100,
  'Product': 'T-Shirt',
  'Product ID': '1034',
  'Quantity': 20,
  'Transaction ID': 179},
 10: {'Amount': 9995,
  'Price': 1999,
  'Product': 'Keyboard',
  'Product ID': '1009',
  'Quantity': 5,
  'Transaction ID': 181}}

In [ ]:
js=json.dumps(sales)
fd=open('sales.json','w')
fd.write(js)
fd.close()

In [ ]:
fd=open('sales.json','r')
r=fd.read()
fd.close()
sales=json.loads(r)

In [ ]:
sales

{'1': {'Amount': 1000,
  'Price': 100,
  'Product': 'Choco Cake',
  'Product ID': '1001',
  'Quantity': 10,
  'Transaction ID': 143},
 '10': {'Amount': 9995,
  'Price': 1999,
  'Product': 'Keyboard',
  'Product ID': '1009',
  'Quantity': 5,
  'Transaction ID': 181},
 '2': {'Amount': 4000,
  'Price': 800,
  'Product': 'Milk Cake',
  'Product ID': '1002',
  'Quantity': 5,
  'Transaction ID': 178},
 '3': {'Amount': 425,
  'Price': 85,
  'Product': 'Drink',
  'Product ID': '1003',
  'Quantity': 5,
  'Transaction ID': 185},
 '4': {'Amount': 50,
  'Price': 5,
  'Product': 'Candy',
  'Product ID': '1004',
  'Quantity': 10,
  'Transaction ID': 156},
 '5': {'Amount': 125,
  'Price': 25,
  'Product': 'Bread',
  'Product ID': '1024',
  'Quantity': 5,
  'Transaction ID': 191},
 '6': {'Amount': 15000,
  'Price': 1500,
  'Product': 'Camera',
  'Product ID': '1031',
  'Quantity': 10,
  'Transaction ID': 134},
 '7': {'Amount': 1500,
  'Price': 150,
  'Product': 'Shoes',
  'Product ID': '1032',
  'Quantity': 10,
  'Transaction ID': 154},
 '8': {'Amount': 3750,
  'Price': 250,
  'Product': 'Sandals',
  'Product ID': '1033',
  'Quantity': 15,
  'Transaction ID': 181},
 '9': {'Amount': 2000,
  'Price': 100,
  'Product': 'T-Shirt',
  'Product ID': '1034',
  'Quantity': 20,
  'Transaction ID': 179}}